@charset "UTF-8";

html {
    font-size: 100%;
}

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }
    
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    
    .main-nav li {
        margin: 0 20px;
    }
    
    .home-content {
        margin-top: 20%;
    }
}

.section {
    margin-top: 50px;
}

/* 배경 디자인 변경 */
body {
    font-family: 'Nanum Gothic', sans-serif; /* 신비로운 느낌의 글씨체 */
    line-height: 1.7;
    color: #f5e8c7; /* 은은한 황금색 텍스트 */
    background: linear-gradient(to bottom, #282a36, #3a3d52, #563d7c); /* 짙은 남색에서 보라색으로 그라데이션 */
}

/* 링크 스타일 */
a {
    text-decoration: none;
    color: #f5e8c7; /* 황금색 */
}

a:hover {
    color: #f9d56e; /* 밝은 황금색 강조 */
}

/* 이미지 */
img {
    max-width: 100%;
}

/* 네비게이션 스타일 */
.main-nav {
    display: flex;
    font-size: 1.5rem; /* 크기를 키움 */
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

/* 네비게이션 글씨체 및 호버 효과 수정 */
.main-nav a {
    font-family: 'Nanum Brush Script', cursive; /* 운명적인 느낌의 글씨체 */
    color: #f5e8c7;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.main-nav a:hover {
    color: #f9d56e; /* 강조된 밝은 황금색 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

/* 헤더 */
.page-header {
    display: flex;
    justify-content: space-between;
}

/* 컨텐츠 박스 */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.home-content {
    text-align: center;
    margin-top: 10%;
    color: #f5e8c7;
}

/* 테스트 아이템 그리드 */
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

/* 테스트 아이템 호버 효과 */
.grid .item img {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 추가 */
}

.grid .item img:hover {
    transform: scale(1.1); /* 확대 효과 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

/* 아이콘 스타일 */
#kakao-channel-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* 아이콘 이미지 스타일 */
#kakao-channel-icon img {
    background-color: transparent;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;
}

.kakao_ad2 {
    width: 320px;
    margin: 0 auto;
}

.coupang_ad {
    width: 320px;
    margin: 0 auto;
}

/* 푸터 스타일 */
footer {
    background-color: #2d2d44; /* 짙은 남색 */
    color: #f5e8c7; /* 황금색 글씨 */
    text-align: center;
    padding: 26px 0;
}

footer p {
    font-size: 0.875rem;
    margin: 5px 0;
    color: #f9d56e; /* 밝은 황금색 */
}
