@charset "UTF-8";

html {
    font-size: 100%;
}

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main-nav li {
        margin: 0 20px;
    }

    .home-content {
        margin-top: 20%;
    }
}

.section {
    margin-top: 50px;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    line-height: 1.7;
    color: #f5f5f5;
    background: #1a1a2e; /* 어두운 배경 */
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffcc29; /* 호버 효과 */
}

img {
    max-width: 100%;
}

.logo {
    width: 100px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #f5f5f5;
}

.main-nav a:hover {
    color: #ffcc29; /* 호버 효과 강조 */
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

.home-content {
    text-align: center;
    margin-top: 10%;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

/* 카드 디자인 */
.card {
    background: #252546;
    color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* 아이콘 스타일 */
#kakao-channel-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* 아이콘 이미지 스타일 */
#kakao-channel-icon img {
    background-color: transparent;
}

.kakao_ad,
.kakao_ad2,
.coupang_ad {
    width: 320px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 26px 0;
    background: #252546;
}

footer p {
    font-size: 0.875rem;
    color: #f5f5f5;
}
